.container {
	font-family: sans-serif;
}

.header {
	margin: 0.5em 0;
}

.noUser {
	margin-top: 1em;
	font-weight: bold;
}

.error {
	color: red;
	border: 1px solid red;
	padding: 1em;
	margin: 1em 0;
}
